Source: spp-picoosc
Section: System
Priority: optional
Maintainer: Vladislav Zavjalov <vl.zavjalov@gmail.com>
Standards-Version: 4.0.0

Package: spp-picoosc
Architecture: any
Description: spp-picoosc - SPP interface for Picoscope PS4224
